<!DOCTYPE html>
<html>
<head>
	<title>Smart Shorter App</title>
</head>
<body>
	<div style="text-align: center;">
		<h4>Smarter Shorter App!</h4>
		<p>A RESTFUL API for creating shortened links</p>
	</div>
	<div>
		Endpoints to send your requests
		<ul>
			<li><b>GET</b> /shortlinks</li><p>--Return List of all short links or return empty list if nothing there</p>
			<li><b>POST</b> /shortlinks</li><p>--Create new shortlink</p>
			<li><b>PUT</b> /shortlinks/{slug}</li><p>--Update certain link data</p>
		</ul>
	</div>
</body>
</html>